.grid-container{
    list-style-type: none;
    display: grid;
    grid-template-columns: auto;
    border: 1px solid;
    width: 30%;
    grid-gap: 1px;
    background-color: yellow;
    padding: 1px;
}

.grid-item {
    padding: 1px;
    text-align: center;
    width: 70%;
}


