# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Info An 2\sem 2\Metode de proiectare si programare\temalab2-mikael1813-main\temalab2-mikael1813-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
