.center{
    text-align: center;
    vertical-align: middle;
    width: 200px;
}

.max_width{
    max-width: 200px;
    align-content: center;
    vertical-align: middle;
}

.grid-container{
    border: 1px solid;
    display: flex;
    flex-direction: row;
    max-width: 400px;
    align-items: center;
    justify-content: center;
}