<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="ParentName" value="TipEchipament" />
    <add key="ChildName" value="Echipamente" />
    <add key="arg1" value="IdEchipament" />
    <add key="arg2" value="IdTip" />
    <add key="arg3" value="Nume" />
    <add key="arg4" value="Pret" />
    <add key="arg5" value="DataCumpararii" />
    <add key="arg6" value="Garantie" />
    <add key="type1" value="0" />
    <add key="type2" value="0" />
    <add key="type3" value="1" />
    <add key="type4" value="0" />
    <add key="type5" value="0" />
    <add key="number" value="6" />
  </appSettings>
</configuration>