.alice{
    list-style-image: url('alice.png');
    list-style-position: outside;
    border-radius: 25px;
    background-color: lightgrey;
    width: 100px;
    border: solid #000000;
    padding: 50px;
    margin: 20px;

}

.bob{
    list-style-image: url('bob.png');
    list-style-position: outside;
}

.dialog{
    direction: ltr;
}